/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* #endregion common */

/* #region header */
header {
    background-color: aquamarine;
    padding: 1.5rem;
}

/* #endregion header */

/* #region main */
main {
    padding: 1.5rem;
}

/* #endregion main */

/* #region footer */
footer {
    padding: 1.5rem;

}

/* #endregion footer */